@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
:root{
	--primary-color: #05090a;
	--white-color: #fff;
	--red-color: #eb8f2e;
	--help-color: #6f6e73;
}
html{
	font-size: 70%;
}
h1,h2,h3,h4,h5{
	font-size: 50%;
}
body{
	background-color: var(--primary-color);
}
/*common style*/
a,li{
	list-style: none;
	text-decoration: none;
}
/*header*/
.header{
	width: 100%;
	height: 100%;
	padding: 1rem 3rem;
	background-color: var(--primary-color);
}
/*navbar*/
.navbar{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.navBrand{
	font-size: 3.5rem;
	text-transform: uppercase;
	color: var(--red-color);
	font-weight: bolder;
}
.lists{
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 2.5rem;
}
.iconDiv{
	display: none;
	text-align: right;
	width: 100%;
}
.icon{
	cursor: pointer;
	font-size:4rem ;
}
.icon:hover{
	color: var(--red-color);
}
.list .link{
	display: inline-block;
	color: var(--white-color);
	font-size: 1.5rem;
	font-weight: bold;
}
.list .activate{
	color: var(--red-color);
}
.bars{
	font-size: 4rem;
	color: var(--white-color);
}
/*home*/
.home{
	width: 100%;
	height: auto;
}
.flex{
	width: 75%;
	margin: 2rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex .about{
	width: 100%;
}
.flex h4{
	font-size: 2.5rem;
	text-transform: capitalize;
	color: var(--help-color);
}
.heading{
	font-size: 4.5rem;
	color: var(--red-color);
}
.flex h3{
	font-size: 3rem;
	color: var(--white-color);
	text-transform: capitalize;
}
.homeImage{
	text-align:right;
	width: 100%;
}
.homeImage img{
	width: 70%;
	margin-right: 0;
}
.btn{
	padding: 1rem 2rem;
	background-color: var(--red-color);
	color: var(--white-color);
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 1.5rem;
}
/*about*/
.section{
	background-color:transparent;
	width: 100%;
	height: auto;
	text-align: center;
	margin: 5rem auto;
	padding: 4rem 0;
	position: relative;
}

.commonHeading{
	font-size: 3.5rem;
	color: var(--white-color);
	text-transform: capitalize;
}
hr{
	padding: 1px ;
	background-color: var(--help-color);
	outline: none;
	border: none;
	width: 300px;
	margin: auto;
	margin-bottom: 5px;
}
.section .flex{
	margin-top: 5rem;
	text-align: left;
}
.aboutImage{
	width: 100%;
}
.aboutImage img{
	width: 60%;
	box-shadow: -5px  5px 8px var(--red-color);
	padding: 2rem;
}
.section h4{
	font-size: 2.3rem;

}
.flex .flex{
	width: 100%;
	/*column-gap: 3rem;*/
	margin: 1rem auto;
	justify-content: space-around;
}
.flex .flex div{
	width: 100%;
}

.flex .flex h4{
	margin: .7rem auto;
	font-size: 1.7rem;
}
.btnDiff{
	padding: 1rem 2rem;
	border-radius: 5px;
	border: 2px solid var(--help-color);
	color: var(--help-color);
	margin-left: 3rem;
	font-size: 1.5rem;
	text-transform: uppercase;
}
/*services*/
.services{
	gap: 2rem;
}
.card{
	width: 70%;
	border-radius: 7px;
	text-align: center;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
	padding: 5rem 1rem;
}
.card ion-icon{
	font-size: 3rem;
	border-radius: 50%;
	background-color: var(--white-color);	
	padding: 1rem;
}
.subHeading{
	font-size: 2.2rem;
	margin: 1rem auto;
}
.para{
	font-size: 1.6rem;
	color: var(--help-color);
}
/*servicesAnimate*/
.servicesAnimate.flex{
	text-align: center;
	text-transform: capitalize;
	padding: 5rem 0;
	margin: auto;
}
.servicesAnimate ion-icon{
	font-size: 2.8rem;
	border-radius: 50%;
	background-color: transparent;
	color: var(--white-color);	
	padding: 1rem;
}
.servicesAnimate div{
	text-align: center;
}
.servicesAnimate .subHeading{
	font-size: 2rem;
}
.servicesAnimate .redHeading{
	font-size: 3rem;
	color: var(--red-color);
}
/*myskillls*/
.mySkills{
	text-align: center;
	width: 75%;
	column-gap: 6rem;

}
.mySkills>div{
	width: 50%;
}

.mySkills .para{
	margin: 1rem auto;
}
.progress{
	margin: 6rem auto;
}
.progressBar{
	background-color: var(--help-color);
	position: relative;
	margin: 1.5rem auto;
	height: 5px;
	width: 100%;
}
.progress h3{
	font-size: 2rem;
	color: var(--help-color);
	text-transform: uppercase;
}
.progressBar div{
	position: absolute;
	background-color: var(--white-color);
	height: 5px;
}
.progressBar h5{
	color: var(--white-color);
	font-size: 1.7rem;
	position: absolute;
	top: -2rem;
}
h3.subSubHeading{
	font-size: 3rem;
	background-color: transparent;
}
/*freelancer*/

.freelancer{
	background-color: transparent;
}
.freelancerLeft h3{
	text-align: center;
	color: var(--red-color);
}.freelancerLeft .para{
	color: var(--white-color);
}
.fancy{
	position: absolute;
	background-color: #12233f;
	border-radius: 30% 70% 70% 30% / 30% 51% 49% 70% ;
	z-index: -1;
}
/*testmonials*/
.flex .testCard{
	width: 300px;
	height: auto;
	padding: 2rem;
	margin: auto;
	margin-top: 7rem;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
	position: relative;
	border-radius: 7px;
	text-align: center;

}
.testCard img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid var(--white-color);
	margin-top: -5rem;
}
.flex .user{
	font-size: 2.5rem;
	color: var(--red-color);
	text-transform: capitalize;
	margin: .5rem auto;

}
.pasion{
	font-size: 2rem;
	color: var(--white-color);
	text-transform: capitalize;
}
/*letest projects*/
.letestPro{
	width: 400px;
	margin: auto;
	margin-top: 4rem;
}
.letestProItems{
	width: 75%;
	margin: auto;
	height: auto;
	margin-top: 2rem;
}
.gridLetestPro{
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	column-gap: 2rem;
}
.gridLetestPro div{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 5px;
	width: 100%;
	/*border: 2px solid var(--red-color);*/
	background-blend-mode: multiply;
}
.gridLetestPro>div:nth-child(1){
	/*background-color: var(--red-color);*/
	background-color: #f79c53;
	background-blend-mode: multiply;
	border:  2rem solid var(--white-color);
	height: 500px;
	background-image: url(../image/project.jpg);
	display: grid;
	place-items: center;
}
.gridLetestPro>div:nth-child(1) div{
	display: inline-block;
	border: .6rem solid var(--white-color);
	width: calc(100% - 5%);
	margin: auto;
	height: calc(100% - 5%);

}
.gridLetestPro>div:nth-child(1) div ion-icon{
	font-size: 4rem;
	color: var(--white-color);
	margin-top: 25%;

}
.gridLetestPro>div:nth-child(1) div .redHeading{
	font-size: 3rem;
	color: var(--white-color);
	text-transform: uppercase;
}
.gridLetestPro .letestProItemsImage div:nth-child(1){
	height: 240px;
	background-image: url(../image/project_2.jpg);
	margin-bottom: 1rem;
}
.gridLetestPro .letestProItemsImage div:nth-child(2){
	height: 240px;
	margin-top: 1rem;
	background-image: url(../image/project_3.jpg);

}
.gridReverse{
	display:grid;
	grid-template-columns: 1fr 1fr 2fr;
	align-items: center;
	column-gap: 2rem;
	margin-top: 2rem;
}
.gridReverse div{
	height: 200px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 7px;
}
.gridReverse div:nth-child(1){
	background-image: url(../image/project.jpg);
}
.gridReverse div:nth-child(2){
	background-image: url(../image/project_3.jpg);
}
.gridReverse div:nth-child(3){
	background-image: url(../image/project_2.jpg);
}
/*my blog*/
.blog{
	column-gap: 2rem;
	margin-top: 3rem;
}
.blogCard{
	width: 100%;
	height: 100%;
	text-align: center;
	text-transform: capitalize;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
	/*display: none;*/
}
.blogCard h4{
	color: var(--white-color);
}
.blogCard img{
	width: 100%;
	height: 300px;
	margin-bottom: 1rem;
}
/*contact*/
.spaHeading{
	font-size: 3.5rem;
	color: var(--red-color);
	text-transform: uppercase;
	margin-top: 2rem;
}
.gridContact{
	width: 75%;
	display: grid;
	grid-template-columns: 2fr 3fr;
	column-gap: 2rem;
	margin: auto;
	margin-top: 3rem;
	/*align-items: center;*/
}
.gridContact>div:nth-child(1){
 width: 100%;
}
.gridContact>div:nth-child(1) img{
	width: 300px;
}
.gridContact form{
	width: 100%;
	height: auto;
}
.gridContact form .form-control{
	height: 45px;
	width: 280px;
	margin-right: 1rem;
	outline: none;
	border-radius: 6px;
	border: 2px solid var(--red-color);
	font-size: 1.5rem;
	text-indent: 1rem;
	text-transform: capitalize;
	background-color: transparent;
	margin-bottom: 2rem;
	color: var(--white-color);
}
.gridContact form .msg{
	width: 100%;
	height: 200px;
	outline: none;
	border-radius: 6px;
	border: 2px solid var(--red-color);
	text-indent: 1rem;
	padding: 1rem;
	font-size: 1.5rem;
	color: var(--white-color);
	background-color: transparent;
}
/*footer*/
.footer{
	width: 100%;
	height: auto;
}
.footer .flex{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-transform: capitalize;
}
.footer .flex p a{
	color: var(--red-color);
	font-size: 2rem;
	margin-left: 1rem;
}
.footer .flex div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer .flex ion-icon{
	font-size: 2.5rem;
	color: var(--white-color);
	margin-left: 2rem;
}
/*--------media query--------*/
@media only screen and (max-width: 1000px){
	html{
		font-size:65% ;
	}
	.testiMonials,.blog,.services,.servicesAnimate{
		display: grid;
		align-items: center;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 3rem;
		margin: auto;
	}
	.testiMonials>div,.blog>div,.services>div{
		width: 100%;
		padding: 1rem;
	}
	.mySkills{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 5rem;
		margin: auto;
	}
		.mySkills div{
			width: 400px;
			margin: auto;
		}
		.progress h3{
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
}
@media only screen and (max-width: 790px){
	html{
		font-size: 60%;
	}
	.about{
		display: grid;
		grid-template-columns: 1fr;
		margin: auto;
		grid-gap: 3rem;
	}
	.about div{
		width: 100%;
		text-align: center;
	}
	.about .aboutImage img{
		width: 70%;
	}
	.about .flex{
		width: 70%;
		margin: auto;
	}
	.about .btn{
		display: inline-block;
		width: 100px;
		margin: auto;
	}
	.btnDiff{
		width: 150px;
		margin: auto;
		display: inline-block;
	}
	.blog .blogCard{
		width: 100%;
	}

}
@media only screen and (max-width: 680px){
.letestPro .list{
	width: 300px;
	margin: auto;
	text-align: center;
}
	.gridLetestPro,.gridReverse ,.footer .flex ,.testiMonials,.blog,.services,.servicesAnimate,.gridContact,.home{
		display: grid;
		align-items: center;
		grid-template-columns: 1fr;
		grid-gap: 3rem;
		margin: auto;
	}
	.header .navbar{
		position: relative;
		display: flex;
		justify-content: space-between!important;
		padding: 0;
		width: 100%!important;
		margin: auto;
	}
	.navbar .lists{
		padding: 1rem;
		height: 100vh;
		z-index: 2;
		background-color: var(--primary-color);
		width: 100%;
		text-align: center;
		top: 1rem;
		display: none;
		padding:10px 30px;
		left: 0;
	}
	.navbar .list{
		margin: 30px auto;
	}
	.navbar .show{
		display:block ;
		position: fixed;
	}
	.link{
		font-size: 3rem;
	}
	.lists div{
		color: white;
		min-width: 100%;
		display: inline-block;
		text-align: right;
		/*background-color: red;*/
	}
	.iconDiv{
		display: inline-block;
		width: 100%;
	}
	.icon{
		font-size: 5rem;
	}

	.home .homeImage{
		display: none;
	}
	.testiMonials>div,.blog>div,.services>div,.servicesAnimate>div,.gridContact>div{
		width: 100%;
		}
	.gridContact form  .form-control, .gridContact .msg{
			width: 100%;
		}
	.blog .blogCard{
		width: 400px;
		margin: auto;
	}
	.footer .flex {
		width: 300px;
		text-align: center;
		margin: auto;
		padding: 3rem;
		height: 200px;
	}
	.footer .flex ion-icon{
		margin-right: .4rem;
	}
}

@media only screen and (max-width: 580px){
	hr{
		width: 200px;
	}
	html{
		font-size: 60%!important;
	}

	.section,.flex,.letestProItems div{
		width: 96%!important;
	}
	div{
		width: auto!important;
	}
	.header .navbar{
		margin-bottom: 30px!important;
		margin: auto;
		width: 100%;
	}
	.mySkills div{
		width: 100%!important;
	}
	.freelancer{
		display: grid;
		grid-template-columns: 1fr;
		margin: auto;
		text-align: center;
		grid-gap: 3rem;
	}
	.freelancer>div{
		width: 100%;
		margin: auto;
		text-align: center;
	}
	.fancy:nth-child(2),.fancy:nth-child(3){
		display: none;
	}
}